.roundButton {
    -fx-background-radius: 5em;
    -fx-min-width: 35px;
    -fx-min-height: 35px;
    -fx-pref-width: 35px;
    -fx-pref-height: 35px;
    -fx-font-family: serif;
    -fx-font-weight: bold;
}

/*noinspection CssUnusedSymbol*/
.table-row-cell:odd {
    -fx-background: -fx-control-inner-background;
}

/*noinspection CssUnusedSymbol*/
.table-row-cell {
    -fx-background-color: -fx-control-inner-background;
    -fx-background: -fx-control-inner-background;
    -fx-table-cell-border-color: -fx-control-inner-background;
}

/*noinspection CssUnusedSymbol*/
.currentlyPlayed {
    -fx-font-weight: bold;
    -fx-background-color: #909090;
}

/*noinspection CssUnusedSymbol*/
.table-row-cell:filled:selected {
    -fx-background-color: gray;
    -fx-table-cell-border-color: gray;
}
